* {
    box-sizing: border-box;
}

header h1 {
    background-color: rgb(140, 200, 240);
    padding-left: 40px;
    font-size: 50px;

}
body{
    background-color:rgb(195, 226, 231);
}
.main-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #13293d;
    color: #fff;
    align-items: center;
    margin: 0%;
}

header ul li , header ul li a{
    display: inline;
    color: white;
    font-size: 25px;
}

.photo {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}



.about-me{
   display: flex;
   flex-direction: column;
   margin: 2%;
   text-align: center;
   width: 100%;
}
.about-title{
    width: 30%;
    margin: auto;
}
.about-info{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}
.vl {
    border-bottom: 3px solid #13293d;
    float: top;
}
.work{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2%;
}
.work-title {
    width: 30%;
    margin: auto;
    text-align: center;   

}

.main-work-info header, .subwork header{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    height: 300px;
    color: turquoise;
}

.main-work-info header a, .subwork header a{
    color:turquoise;
    text-decoration: underline;
    font-size: 24px;
}

.subwork{
    display: flex;
    flex: 1 0 0;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
}

.subheader{
    align-items: stretch;
    flex: 1 0 0;
}
.subwork img {
    width: 100%;
    flex: 1 0 0;
    min-width: 400px;
}


.center-right{
    display: flex;
    position: absolute;
    top:125px;
    left:0px;
    background:#13293d;
}

.center-right h2{
    margin: auto 20px;
}

a img {
    border-radius: 20px;
    border: 3px solid turquoise;

}
#contact-me{
    justify-content: center;
    text-align: center;
}


/* .my-work{
    display: flex;
    width: 100%;
    height: 100%;
    background-size: cover;
    
} */

@media screen and (max-width:1000px){
    .card{
        flex: 1 0 100px;
    }
}